<div
  class="hearder--banner-bar"
>
  <div class="page-width hearder--banner-bar-flex">
    <div class="header-bar_flexbox">
      <div><b>Shop By Phone </b><a href="tel:+1-844-600-1795" class="basic-color underline-link">(844) 600-1795</a></div>
      <div class="header-bar_divider"></div>
      <div><span>Learn about our </span><a href="#" class="basic-color underline-link"><b>Finance Options</b></a></div>      
    </div>
    <div class="header-bar_flexbox">
      <span><a href="#" class="header-bar-link">Store : Smithton Distribution</a> ...</span>
      <a href="#" class="header-bar-link">Track Delivery</a>
      <a href="#" class="header-bar-link">Contact Us</a>
    </div>
  </div>
</div>
