<div class="page-width banner-slick-slider">
  {% for block in section.blocks %}
    <div class="slide-item">
      <div class="small-hide">
        <img src="{{ block.settings.image1 | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}">
      </div>
      <div class="small-visible">
        <img src="{{ block.settings.image2 | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}">
      </div>
    </div>
  {% endfor %}
</div>
{% schema %}
{
  "name": "Banner Slider",
  "tag": "section",
  "class": "slick-slider-section",
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image1"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Slider",
      "blocks": [
        {"type": "image"},
        {"type": "image"},
        {"type": "image"},
        {"type": "image"},
        {"type": "image"},
      ]
    }
  ]
}
{% endschema %}